<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31" >
        <activity
            android:name=".FeedBackApp"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".getDoctorFeedBack"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".DoctorClick"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".AddDoctor"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".DoctorFeedBack"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".AddCourse"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".coursefeedbacks"
            android:exported="false" android:screenOrientation="portrait" />
        <activity
            android:name=".ItemClick"
            android:exported="false" android:screenOrientation="portrait" />
        <activity
            android:name=".whenItemClick"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".AddBook"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".lst"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".clickmyBooks"
            android:exported="false"  android:screenOrientation="portrait" />
        <activity
            android:name=".showMybooks"
            android:exported="false"  android:screenOrientation="portrait"/>
        <activity
            android:name=".chooceCollege"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"  android:screenOrientation="portrait"/>
        <activity
            android:name=".AccountActivity"
            android:exported="false"  android:screenOrientation="portrait"/>
        <activity
            android:name=".AboutActivity"
            android:exported="false" android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" android:screenOrientation="portrait"/>
        <activity
            android:name=".SignupActivity"
            android:exported="false" android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"


        android:exported="false"   android:screenOrientation="portrait" />
    </application>

</manifest>